<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GS5CX77NW5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GS5CX77NW5');
</script>

<!-- Schema.org structured data -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Suwandi Soh",
  "url": "https://suwandinotes.com",
  "sameAs": [
    "https://www.linkedin.com/in/suwandisoh",
    "https://twitter.com/suwandi"
  ]
}
</script>
